body{
    display: flex;
    margin: 0;
    background: linear-gradient(#A2D2FF, #BDE0FE);
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

.background{
    position: absolute;
    width: 100%;
    z-index: -3;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: -2;
    opacity: 1;
    animation-name: stars-opacity-movement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes stars-opacity-movement{
    from{opacity: 0.2; transform: translateY(-2%)}
    to{opacity:1; transform: translateY(2%)}
}


.character{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);
    z-index:-1;

}

.lips{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);
    transition-property: opacity;
    transition-duration: 2s;
    opacity: 0;
    z-index: 2;
}

.lips:hover{
    opacity: 1;
}

.burst{
    display: flex;
    position: absolute;
    width: 100%;
    z-index:-2;
}

.moon{
    display: flex;
    position: absolute;
    width: 20%;
    transform: translateX(380%) translateY(60%) scale(1);
    z-index: 4;
    animation-name: moon-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: 2s;
}

.moon:hover{
    transform:scale(10);
}

@keyframes moon-movement{
    from{transform: translateX(380%) translateY(60%) rotate(0deg) }
    to{transform: translateX(380%) translateY(60%) rotate(360deg) }
}


.earth{
    display: flex;
    position: absolute;
    width: 20%;
    transform: translateX(30%) translateY(150%);
    z-index: 2;
    animation-name: earth-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes earth-movement{
    from{transform: translateX(30%) translateY(150%) rotate(360deg) }
    to{transform: translateX(30%) translateY(150%) rotate(0deg) }
}

.line1{
    position: absolute;
    width: 120px;
    height: 10px;
    background-color: white;
    opacity: 0.3;
    border-radius: 15px;
}

.rocket{
    position: absolute;
    width: 15%;
    transform: translateX(-100%) translateY(-10%) rotate(120deg) scale(1);
    z-index: -2;
    animation-name: rocket-movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: 2s; 
}


@keyframes rocket-movement{
    from{transform: translateX(-120%) translateY(-60%) rotate(120deg)}
    to{transform: translateX(740%) translateY(200%) rotate(140deg) }
}

/* VIDÉOS */

.video{
    position: absolute;
    width: 37%;
    transform: translateX(81%) translateY(70%);
    z-index: -2;
}

.endingtext{
    position: absolute;
    transform: translateY(70%) translateX(65%);
    z-index: 4;
}


/* BOUTONS */

.boutons{
    position: absolute;
    width:100%;
}

.play{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(870%) translateY(630%);
    transition-duration: 1s;
}

.play:hover{
    transform: translateX(870%) translateY(620%) scale(1.2) rotate(10deg);
    filter: contrast(170%);
}

.play:active{
    filter: grayscale(70%);
}

.play:focus{
    filter: blur(3px);
}


.pause{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(1165%) translateY(690%);
    transition-duration: 1s;
}

.pause:hover{
    transform: translateX(1170%) translateY(690%) scale(1.2) rotate(-10deg);
    filter: contrast(170%)
}

.pause:active{
    filter: grayscale(70%);
}

.pause:focus{
    filter: blur(3px);
}

.stop{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(1470%) translateY(640%);
    transition-duration: 1s;
}

.stop:hover{
    transform: translateX(1470%) translateY(640%) scale(1.2) rotate(10deg);
    filter: contrast(170%)
}

.stop:active{
    filter: grayscale(70%);
}

.stop:focus{
    filter: blur(3px);
}

.volumeplus{
    width: 50%;
    position: absolute;
    z-index: 5;
    transform: translateX(122%) translateY(-20%) scale(.2);
    transition-duration: 1s;
}

.volumeplus:hover{
    transform: translateX(122%) translateY(-20%) scale(.3) rotate(-10deg);
    filter: contrast(170%)
}

.volumeplus:active{
    filter: grayscale(70%);
}

.volumeless{
    width: 50%;
    position: absolute;
    z-index: 5;
    transform: translateX(-17%) translateY(5%) scale(.2);
    transition-duration: 1s;
}

.volumeless:hover{
    transform: translateX(-17%) translateY(5%) scale(.3) rotate(10deg);
    filter: contrast(170%)
}

.volumeless:active{
    filter: grayscale(70%);
}



/* BARRE CHARGEMENT */

.progres{
    position: absolute;
    transform: translateX(112%) translateY(600%);
    width: 30%;
    height: 1%;
    background-color: white;
    border-radius: 25px;
}

.barre{
    position: relative;
    width: 100%;
    height: 100%;    
    background-color: #A2D2FF;
    transform-origin: 0 80%;
    transition: transform 1s linear;
    border-radius: 25px;
  }



/* RESPONSIVE */

@media screen and (max-width: 1750px) { 
    .character{
        display: flex;
        position: absolute;
        width: 100%;
        transform: translateY(100%);
        z-index:-1;
    
    }
    
    .lips{
        display: flex;
        position: absolute;
        width: 100%;
        transform: translateY(-2%);
        transition-property: opacity;
        transition-duration: 2s;
        opacity: 0;
        z-index: 2;
    }

 }

