body{
    display: flex;
    margin: 0;
    background: linear-gradient(#A2D2FF, #BDE0FE);
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

.background{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -3;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: -2;
    opacity: 1;
    animation-name: stars-opacity-movement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes stars-opacity-movement{
    from{opacity: 0.2; transform: translateY(-2%)}
    to{opacity:1; transform: translateY(2%)}
}


.character{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);

}

.lips{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);
    transition-property: opacity;
    transition-duration: 2s;
    opacity: 0;
}

.character:hover .lips{
    opacity: 1;
}

.burst{
    display: flex;
    position: absolute;
    width: 100%;
}

.moon{
    position: absolute;
    width: 20%;
    transform: translateX(380%) translateY(60%) scale(1);
    z-index: -1;
    animation-name: moon-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



@keyframes moon-movement{
    from{transform: translateX(380%) translateY(60%) rotate(0deg) }
    to{transform: translateX(380%) translateY(60%) rotate(360deg) }
}


.earth{
    position: absolute;
    width: 20%;
    transform: translateX(30%) translateY(150%);
    z-index: -1;
    animation-name: earth-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes earth-movement{
    from{transform: translateX(30%) translateY(150%) rotate(360deg) }
    to{transform: translateX(30%) translateY(150%) rotate(0deg) }
}

/*.planets_translation{
    animation-name: planets-translation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes planets-translation{
    from{transform: translateX(0%) }
    to{transform:  translateX(10%)}
}*/

.fuse{
    position: absolute;
    width: 15%;
    transform: translateX(-100%) translateY(-10%) rotate(120deg) scale(1);
    z-index: -1;
    animation-name: fuse-movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-property: transform; 
}

.fuse:hover{
    transform: scale(2);
}

@keyframes fuse-movement{
    from{transform: translateX(-120%) translateY(-60%) rotate(120deg)}
    to{transform: translateX(740%) translateY(200%) rotate(140deg) }
}




