body{
    display: flex;
    margin: 0;
    background: linear-gradient(#A2D2FF, #BDE0FE);
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

.background{
    display: flex;
    position: absolute;
    width: 100%;
    z-index: -3;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: -2;
    opacity: 1;
    animation-name: stars-opacity-movement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes stars-opacity-movement{
    from{opacity: 0.2; transform: translateY(-2%)}
    to{opacity:1; transform: translateY(2%)}
}


.character{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);
    z-index:0;

}

.lips{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);
    transition-property: opacity;
    transition-duration: 2s;
    opacity: 0;
}

.lips:hover{
    opacity: 1;
}

.burst{
    display: flex;
    position: absolute;
    width: 100%;
    z-index:-2;
}

.moon{
    position: absolute;
    width: 20%;
    transform: translateX(380%) translateY(60%) scale(1);
    z-index: 4;
    animation-name: moon-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-property: transform;
    transition-duration: 2s;
}

.moon:hover{
    transform:scale(0.5);
}

@keyframes moon-movement{
    from{transform: translateX(380%) translateY(60%) rotate(0deg) }
    to{transform: translateX(380%) translateY(60%) rotate(360deg) }
}


.earth{
    position: absolute;
    width: 20%;
    transform: translateX(30%) translateY(150%);
    z-index: 2;
    animation-name: earth-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes earth-movement{
    from{transform: translateX(30%) translateY(150%) rotate(360deg) }
    to{transform: translateX(30%) translateY(150%) rotate(0deg) }
}

/*.planets_translation{
    animation-name: planets-translation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes planets-translation{
    from{transform: translateX(0%) }
    to{transform:  translateX(10%)}
}*/

.rocket{
    position: absolute;
    width: 15%;
    transform: translateX(-100%) translateY(-10%) rotate(120deg) scale(1);
    z-index: -2;
    animation-name: fuse-movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: 2s; 
}


@keyframes fuse-movement{
    from{transform: translateX(-120%) translateY(-60%) rotate(120deg)}
    to{transform: translateX(740%) translateY(200%) rotate(140deg) }
}


.video{
    position: absolute;
    width: 37%;
    transform: translateX(81%) translateY(70%);
    z-index: -2;
}

/* BOUTONS */
.boutons{
    position: absolute;
    width:100%;
}

.play{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(870%) translateY(630%);
    transition-duration: 1s;
}

.play:hover{
    transform: translateX(870%) translateY(620%) scale(1.2) rotate(10deg);
    filter: contrast(120%)
}

.pause{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(1165%) translateY(690%);
    transition-duration: 1s;
}

.pause:hover{
    transform: translateX(1170%) translateY(690%) scale(1.2) rotate(-10deg);
    filter: contrast(120%)
}

.stop{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(1470%) translateY(640%);
    transition-duration: 1s;
}

.stop:hover{
    transform: translateX(1470%) translateY(640%) scale(1.2) rotate(10deg);
    filter: contrast(120%)
}

/* BARRE CHARGEMENT */


.progres{
    position: absolute;
    transform: translateX(112%) translateY(600%);
    width: 30%;
    height: 1%;
    background-color: white;
    border-radius: 25px;
  }

  .barre {
    position: relative;
    width: 100%;
    height: 100%;    
    background-color: black;
    transform-origin: 0 80%;
    transition: transform 0.5s linear;
    border-radius: 25px;
  }


