body{
    display: flex;
    margin: 0;
    background-color: #BDE0FE;
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

.container{
    display: flex;
    margin: 0;
    height: 1080px;
    width: 1920px;
    overflow: hidden;
}

.background{
    position: absolute;
    width: 100%;
    z-index: -3;
}

.stars{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: -2;
    opacity: 1;
    animation-name: stars-opacity-movement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes stars-opacity-movement{
    from{opacity: 0.2; transform: translateY(-2%)}
    to{opacity:1; transform: translateY(2%)}
}

.character{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);
    z-index:-1;
}

.lips{
    display: flex;
    position: absolute;
    width: 100%;
    transform: translateY(-2%);
    transition-property: opacity;
    transition-duration: 2s;
    opacity: 0;
    z-index: 2;
}

.lips:hover{
    opacity: 1;
}

.burst{
    display: flex;
    position: absolute;
    width: 100%;
    z-index:-2;
}

.moon{
    display: flex;
    position: absolute;
    width: 20%;
    transform: translateX(380%) translateY(60%) scale(1);
    z-index: 4;
    animation-name: moon-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    transition-duration: 2s;
}

.moon:hover{
    transform: scale(10);
}

@keyframes moon-movement{
    from{transform: translateX(380%) translateY(60%) rotate(0deg) }
    to{transform: translateX(380%) translateY(60%) rotate(360deg) }
}

.earth{
    display: flex;
    position: absolute;
    width: 20%;
    transform: translateX(30%) translateY(150%);
    z-index: 2;
    animation-name: earth-movement;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes earth-movement{
    from{transform: translateX(30%) translateY(150%) rotate(360deg) }
    to{transform: translateX(30%) translateY(150%) rotate(0deg) }
}

.line1{
    position: absolute;
    width: 20%;
    height: 2%;
    background-color: white;
    opacity: 0.3;
    border-radius: 15px;
    z-index: 7;
    transition-duration: 2s;
}

.line1:hover{
    position: absolute;
    width: 80%;
    height: 2%;
    background-color: white;
    opacity: 0.3;
    border-radius: 15px;
    transition-duration: 2s;
}

.line2{
    position: absolute;
    width: 15%;
    height: 2%;
    background-color: white;
    opacity: 0.3;
    border-radius: 15px;
    z-index: 7;
    transition-duration: 2s;
    transform: translateY(100%)
}

.line2:hover{
    position: absolute;
    width: 85%;
    height: 2%;
    background-color: white;
    opacity: 0.3;
    border-radius: 15px;
    transition-duration: 2s;
}

.rocket{
    position: absolute;
    width: 15%;
    transform: translateX(-100%) translateY(-10%) rotate(120deg) scale(1);
    z-index: -2;
    animation-name: rocket-movement;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rocket-movement{
    from{transform: translateX(-120%) translateY(-60%) rotate(120deg)}
    to{transform: translateX(740%) translateY(200%) rotate(140deg) }
}

.quote{
    display: flex;
    position: absolute;
    justify-content: center;
    color: white;
    font-family: 'Bowlby One', cursive;
    font-size: 2vw;
    width: 100%;
    letter-spacing: 2px;
    line-height: 90%;
    text-shadow: 3px 2px #A2D2FF;
    transition-duration: 2s;
    cursor: pointer;
}

a{
    position: absolute;
    transform: translateY(140%) translateX(-3%);
    z-index: 8
}

a:after{
    content:"☁️☁️"
}

.quote:hover{
    color:  #A2D2FF;
    text-shadow: 3px 2px white;
}

.cloud1{
    position: absolute;
    z-index: -3;
    width: 70%;
    transform: translateY(40%) translateX(50%);
    animation-name: cloud1-movement;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes cloud1-movement{
    from{transform: translateY(50%) translateX(50%) }
    to{transform: translateY(40%) translateX(50%) }
}

.cloud2{
    position: absolute;
    z-index: -3;
    width: 30%;
    transform: translateY(50%) translateX(0%);
    animation-name: cloud2-movement;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes cloud2-movement{
    from{transform: translateY(50%) translateX(0%) }
    to{transform: translateY(70%) translateX(0%) }
}
/* VIDÉOS */

.video{
    position: absolute;
    width: 37%;
    transform: translateX(81%) translateY(70%);
    z-index: -2;
}

.endingtext{
    display: block;
    position: absolute;
    width: 30%;
    border-radius: 20px;
    z-index: 7;
    transform:translateX(111%) translateY(95%) scale(1.3);
    opacity: 1;
}

#endingtext{
    display: none;
    cursor: pointer;
}

/* BOUTONS */

.boutons{
    position: absolute;
    width:100%;
}

.play{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(870%) translateY(630%);
    transition-duration: 1s;
    cursor: pointer;
}

.play:hover{
    transform: translateX(870%) translateY(620%) scale(1.2) rotate(10deg);
    filter: contrast(170%);
}

.play:active{
    filter: grayscale(70%);
}

.play:focus{
    background-color: white;
    outline: 0px;
    border-radius: 20px;
}

.pause{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(1165%) translateY(690%);
    transition-duration: 1s;
    cursor: pointer;
}

.pause:hover{
    transform: translateX(1170%) translateY(690%) scale(1.2) rotate(-10deg);
    filter: contrast(170%);
}

.pause:active{
    filter: grayscale(70%);
}

.pause:focus{
    background-color: white;
    outline: 0px;
    border-radius: 20px;
}

.stop{
    position: absolute;
    z-index: 5;
    width: 4%;
    transform: translateX(1470%) translateY(640%);
    transition-duration: 1s;
    cursor: pointer;
}

.stop:hover{
    transform: translateX(1470%) translateY(640%) scale(1.2) rotate(10deg);
    filter: contrast(170%)
}

.stop:active{
    filter: grayscale(70%);
}

.stop:focus{
    background-color: white;
    outline: 0px;
    border-radius: 20px;
}

.volumeplus{
    width: 50%;
    position: absolute;
    z-index: 5;
    transform: translateX(122%) translateY(-20%) scale(.2);
    transition-duration: 1s;
    cursor: pointer;
}

.volumeplus:hover{
    transform: translateX(122%) translateY(-20%) scale(.3) rotate(-10deg);
    filter: contrast(170%)
}

.volumeplus:active{
    filter: grayscale(70%);
}

.volumeplus:focus{
    background-color: white;
    outline: 0px;
    border-radius: 200px;
}


.volumeless{
    width: 50%;
    position: absolute;
    z-index: 5;
    transform: translateX(-17%) translateY(5%) scale(.2);
    transition-duration: 1s;
    cursor: pointer;
}

.volumeless:hover{
    transform: translateX(-17%) translateY(5%) scale(.3) rotate(10deg);
    filter: contrast(170%)
}

.volumeless:active{
    filter: grayscale(70%);
}

.volumeless:focus{
    background-color: white;
    outline: 0px;
    border-radius: 200px;
}

/* BARRE CHARGEMENT */

.progres{
    position: absolute;
    transform: translateX(112%) translateY(600%);
    width: 30%;
    height: 1%;
    background-color: white;
    border-radius: 25px;
}

.barre{
    position: relative;
    width: 100%;
    height: 100%;    
    background-color: #A2D2FF;
    transform-origin: 0 80%;
    transition: transform 1s linear;
    border-radius: 25px;
}






